*
{
    margin: 0;
    padding: 0;
    font-family: 'Xanh Mono', monospace;
}
body{
    /* background-color: black; */
    width: 100%;
    height: 100%;
}
.mujahid-ahamed{
    padding: 35px 35px 0 35px;
    height: 460px;

}
.mujahid-ahamed-head{
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.mujahid-ahamed-head-heading{
    text-align: left;
    width: 50%;
}
hr {
    margin-bottom: 15px;    
}
.mujahid-ahamed-head hr{
    width: 100%;
    margin-bottom: 15px;
}
.mujahid-ahamed-button{
    width: 50%;
}
.mujahid-ahamed-button1{
    float: right;
    padding-top: 5px;
    padding-right: 10px;
}
.mujahid-ahamed-button1 .save{
    width: 50px;
    height: 25px;
}
.mujahid-ahamed-button1 .mass-delete{
    width: 120px;
    height: 25px;
    cursor: pointer;
}
#product_form{
    margin-top:5px;
    height: 400px;
}
.form{
    width: 400px;
    height: 110px;
}
.p {
    width: 120px;
    float: left;
}

input, select {
    outline: none;
    height: 20px;
}
.form label{
    width: 200px;
}
.data{
    display: none;
    margin-top: 15px;
}
.data .form{

    width: 300px;
    height: 110px;

}