*
{
    margin: 0;
    padding: 0;
    font-family: 'Xanh Mono', monospace;
}
body{
    /* background-color: black; */
    width: 100%;
    height: 100%;
}

.mujahid-ahamed{
    padding: 35px 35px 0 35px;

}
.mujahid-ahamed-head{
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.mujahid-ahamed-head-heading{
    text-align: left;
    width: 50%;
}
.mujahid-ahamed-head-heading h1{
    width: 50%;
    text-align: left;
}
.mujahid-ahamed-head hr{
    width: 100%;
}
.mujahid-ahamed-button{
    width: 50%;
}
.mujahid-ahamed-button1{
    float: right;
    padding-top: 5px;
    padding-right: 10px;
}
.mujahid-ahamed-button1 .add{
    width: 50px;
    height: 25px;
}
.mujahid-ahamed-button1 .mass-delete{
    width: 120px;
    height: 25px;
    cursor: pointer;
}
.mujahid-ahamed-product-list{
    width: 100%;
    height: 430px;
    /* background-color: yellow; */
    /*overflow-y: scroll;*/
}
button {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
table{
    justify-content: center; 
    display:flex;
}
table tr td input{
    margin-left: 11px;
    margin-top: 0;
    float: left;
}
table tr{
    width: 245px;
    height: 130px;
    padding-top: 15px;
    padding-left: 35px;
    /* background-color: black; */
    float: left;

}
.mujahid-ahamed-product-list-products{
    width: 230px;
    height: 120px;
    /* background-color: red; */
    border-radius: 15px;
    border: 1PX solid black;
    text-align: center;
}